{% extends "base.html" %}
{% block title %}Setup{% endblock %}
{% block content %}
<form action="/api/setup" method="post">
    <label>Blog title:
        <input type="text" name="blog_title" id="blog_title" />
    </label><br/>
    <label>Administrator username:
        <input type="text" name="admin_username" id="admin_username" />
    </label><br/>
    <label>Administrator password:
        <input type="password" name="admin_password"
                id="admin_password" />
    </label><br/>
    <input type="submit" value="Save settings" />
</form>
{% endblock %}
